div.viewbox{
    border-style: solid;
    border-top-width: thick;
    border-left-width: thick;
    border-bottom-width: thick;
    border-right-width: thick;
    border-radius: 5px;
    border-color: #76323F;
    height: 350px;
    width: 500px;
}

h1{
    font-family: 'Noto Serif', serif;
}
