div.viewbox{
    border-style: solid;
    border-top-width: thick;
    border-left-width: thick;
    border-bottom-width: thick;
    border-right-width: thick;
    border-radius: 5px;
    border-color: #274e64;
    height: 350px;
    width: 500px;
    padding: 5px;
    margin: 12px;
}

div#performancechart{
    margin: 12px;
    margin-top: 40px;
    height: 350px;
    width: 500px;
}

div#worksheet{
    background-color: #ffffff;
    -webkit-box-shadow: -3px 4px 5px 1px rgba(70,70,70,0.72);
    -moz-box-shadow: -3px 4px 5px 1px rgba(70,70,70,0.72);
    box-shadow: -3px 4px 5px 1px rgba(70,70,70,0.72);
}

body{
    background-image: url("repeattexture.png");
    background-repeat: repeat;
}

h1{
    font-family: 'Noto Serif', serif;
}

button.btn-primary{
    background-color: #274e64;
}

button.btn-secondary{
    border: solid;
    border-width: thin;
    border-color: grey;
}

.center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.axis path,
.axis line{
    fill: none;
    stroke: #4d4d4d;
    shape-rendering: crispEdges;
}
.axis text{
    font-family: 'Noto-Serif', serif;
    font-size: 12px;
}

p{
    font-size: 16px;
}
